.sub-module.module
  %table
    %tr
      %td
        = link_to '#', class: "remove_fields admin-link" do
          .event-x
            &times;
    %tr
      %td
        = f.label :committee
      %td
        = f.text_field :committee
    %tr
      %td
        = f.label :topic
      %td
        = f.text_field :topic
    %tr
      %td
        = f.label :image_url
      %td
        = f.text_field :image_url
    %tr
      %td
        = f.label :description
      %td
        = f.text_area :description
    %tr
      %td
        = f.label :guide_filename, "Topic Guide Filename"
      %td
        = f.text_field :guide_filename
  %br/
  = f.hidden_field :_destroy

