.bio-box
  .admin-container
    = link_to 'javascript:;' do
      .clicker.add A
    %ul.admin-list
      %li
        = link_to edit_user_path(sec), class: "admin-link" do
          .admin-line
            .icon
              = image_tag 'admin-icons/edit.png'
            .words
              Edit secretariat member

  %table
    %tr
      %td
        .photo
          - if sec.portrait_url.present?
            = image_tag sec.portrait_url, class: 'bio-photo'
          - else
            = image_tag 'default_avatar.png', class: 'bio-photo'
      %td
        .bio-right
          .bio-header
            .position
              = sec.sec_pos
            .name
              = sec.name
            .college
              = sec.college
              -#Eleanor Roosevelt College
            .major
              = sec.major
              -#International Studies: Economics and Political Science
          .bio
            = sec.bio
            -#Model United Nations has offered me the opportunity to apply my education into something that I am truly passionate
            -#about.  When I travel and compete, I am given the unique opportunity to step into the shoes of an individual who
            -#has completely divergent views from my own and practice the art of speaking in a diplomatic manner.  As a chair,
            -#I can design a committee around a topic that interests me and I can listen to the positions of younger students who
            -#have worked hard and researched their country's policy.  As the President of Model United Nations at UCSD, I am
            -#fortunate to work with such a skillful team with a passion for what they do.  Whenever I'm not doing something
            -#with MUN, I am lounging around at the beach, playing video games, or traveling to new places.