

<div class="phot-cont slide s-<%= slide.side %>">
    <div class="overlay-cont">
      <div class="overlay">

        <% if slide.description.present? %>
            <div class="title">
              <%= slide.title %>
            </div>
        <% else %>
            <div class="word">
              <%= slide.title %>
            </div>
        <% end %>

        <span class="small"><%= slide.description %></span>

        <% if slide.link_href != "" %>
            <a href="<%= slide.link_href %>" class="butt"><%= slide.link_text %></a>
        <% end %>

      </div>
    </div>

    <%= image_tag slide.image_url, style:"width: 100%; vertical-align: middle" %>
</div>
