
<div class="narrow">
<a href="#">
        <div id="apply-topic" class="button apply" style="padding: .5em 0em; font-size: 2em;  width: 100%; margin-top:
                1em;
                text-align: center;">Apply to a
          topic</div>
</a>
<div class="google-form">
<iframe src="https://docs.google.com/forms/d/1HHdcnk8f2vt7HS2CQf7DcmhNCu0uSW5Wt11X-Cyvhio/viewform?embedded=true"
        width="100%" height="500" frameborder="0" marginheight="0" marginwidth="0">Loading...</iframe>
</div>

  <div id="comm_cont">

    <!--    <div id="pp_top">
          <span class="exclaim">!</span>
          <p id="dead"><strong>Topic Guides will be posted shortly</strong></p>

          <p id="dead2"><em>Please check back for updates.</em></p>
        </div>-->

    <div class="comm_box" style="margin-top: 0em;">
      <h2 class="com_head">General Assembly</h2>
      <a href="<%= asset_path("bgs/UnitedNationsGeneralAssembly-Droughts.pdf") %>"><div class="button">Topic
        Guide</div></a>
      <!-- <div class="chair"><span class="chair">Vice Chair: </span><span class="name">Andrew Simon</span></div>-->
      <div class="ban-cont">
        <h3 class="topic">Droughts</h3>
        <%= image_tag("b1.jpg", alt: "Drone Warfare", class: "banner") %>
      </div>
    </div>

    <div class="comm_box">
      <h2 class="com_head">SeaWorld Emergency Shareholder Meeting</h2>
      <a href="<%= asset_path("bgs/SeaWorldEmergencyShareholderMeeting.pdf") %>"><div class="button">Topic Guide</div></a>
      <div class="ban-cont">
        <h3 class="topic">Blackfish vs. Seaworld</h3>
        <%= image_tag("b2.jpg", alt: "Drone Warfare", class: "banner") %>
      </div>

    </div>

    <div class="comm_box">
      <h2 class="com_head">World Health Organization</h2>
      <a href="<%= asset_path("Oct19-TritonMUNWHO.pdf") %>"><div class="button">Topic
        Guide</div></a>

      <!-- <div class="chair"><span class="chair">Vice Chair: </span><span class="name">Andrew Simon</span></div>-->
      <div class="ban-cont">
        <h3 class="topic">Combatting Malnutrition in Lesser Economically Developed Countries</h3>
        <%= image_tag("c2.jpg", alt: "Drone Warfare", class: "banner") %>
      </div>
    </div>

    <div class="comm_box">
      <h2 class="com_head">United Nations Disarmament and International Security</h2>
      <a href="<%= asset_path("Oct23-TritonMUNDISEC.pdf") %>"><div class="button">Topic
        Guide</div></a>
      <!-- <div class="chair"><span class="chair">Vice Chair: </span><span class="name">Andrew Simon</span></div>-->
      <div class="ban-cont">
        <h3 class="topic">Drone Warfare</h3>
        <%= image_tag("c1.jpg", alt: "Drone Warfare", class: "banner") %>
      </div>
    </div>

    <div class="comm_box">
      <h2 class="com_head">United Nations Development Program</h2>
      <a href="<%= asset_path("Oct26-TritonMUNUNDP.pdf") %>"><div class="button">Topic Guide</div></a>
      <!-- <div class="chair"><span class="chair">Vice Chair: </span><span class="name">Andrew Simon</span></div>-->
      <div class="ban-cont">
        <h3 class="topic">Development Assistance for Syrian Refugees</h3>
        <%= image_tag("c3.jpg", alt: "Drone Warfare", class: "banner") %>
      </div>
    </div>


    <div class="crisis">
      <div class="comm_box">
        <h2 class="com_head">Crisis: North Atlantic Treaty Organization</h2>
        <a href="<%= asset_path("Oct30-TritonMUNCrisis.pdf") %>"> <div class="button">Topic Guide</div></a>
        <!-- <div class="chair"><span class="chair">Vice Chair: </span><span class="name">Andrew Simon</span></div>-->
        <div class="ban-cont">
          <h3 class="topic">Crisis in Ukraine</h3>
          <%= image_tag("c5.jpg", alt: "Drone Warfare", class: "banner") %>
        </div>
      </div>
    </div>
 </div>
</div>