
  <div id="comm_cont">
<br><br><br>
    <!--    <div id="pp_top">
          <span class="exclaim">!</span>
          <p id="dead"><strong>Topic Guides will be posted shortly</strong></p>

          <p id="dead2"><em>Please check back for updates.</em></p>
        </div>-->

    <div class="comm_box">
      <h2 class="com_head">General Assembly</h2>
      <a href="<%= asset_path("bgs/UnitedNationsGeneralAssembly-Droughts.pdf") %>"><div class="button">Topic
        Guide</div></a>
      <!-- <div class="chair"><span class="chair">Vice Chair: </span><span class="name">Andrew Simon</span></div>-->
      <div class="ban-cont">
        <h3 class="topic">Droughts</h3>
        <%= image_tag("b1.jpg", alt: "Drone Warfare", class: "banner") %>
      </div>
    </div>

    <div class="comm_box">
      <h2 class="com_head">SeaWorld Emergency Shareholder Meeting</h2>
      <a href="<%= asset_path("bgs/SeaWorldEmergencyShareholderMeeting.pdf") %>"><div class="button">Topic Guide</div></a>
      <div class="ban-cont">
        <h3 class="topic">Blackfish vs. Seaworld</h3>
        <%= image_tag("b2.jpg", alt: "Drone Warfare", class: "banner") %>
      </div>

    </div>

    <div class="comm_box">
      <h2 class="com_head">World Health Organization</h2>
      <a href="<%= asset_path("Oct19-TritonMUNWHO.pdf") %>"><div class="button">Topic
        Guide</div></a>

      <!-- <div class="chair"><span class="chair">Vice Chair: </span><span class="name">Andrew Simon</span></div>-->
      <div class="ban-cont">
        <h3 class="topic">Combatting Malnutrition in Lesser Economically Developed Countries</h3>
        <%= image_tag("c2.jpg", alt: "Drone Warfare", class: "banner") %>
      </div>
    </div>

    <div class="comm_box">
      <h2 class="com_head">United Nations Disarmament and International Security</h2>
      <a href="<%= asset_path("Oct23-TritonMUNDISEC.pdf") %>"><div class="button">Topic
        Guide</div></a>
      <!-- <div class="chair"><span class="chair">Vice Chair: </span><span class="name">Andrew Simon</span></div>-->
      <div class="ban-cont">
        <h3 class="topic">Drone Warfare</h3>
        <%= image_tag("c1.jpg", alt: "Drone Warfare", class: "banner") %>
      </div>
    </div>

    <div class="comm_box">
      <h2 class="com_head">United Nations Development Program</h2>
      <a href="<%= asset_path("Oct26-TritonMUNUNDP.pdf") %>"><div class="button">Topic Guide</div></a>
      <!-- <div class="chair"><span class="chair">Vice Chair: </span><span class="name">Andrew Simon</span></div>-->
      <div class="ban-cont">
        <h3 class="topic">Development Assistance for Syrian Refugees</h3>
        <%= image_tag("c3.jpg", alt: "Drone Warfare", class: "banner") %>
      </div>
    </div>


    <div class="crisis">
      <div class="comm_box">
        <h2 class="com_head">Crisis: North Atlantic Treaty Organization</h2>
        <a href="<%= asset_path("Oct30-TritonMUNCrisis.pdf") %>"> <div class="button">Topic Guide</div></a>
        <!-- <div class="chair"><span class="chair">Vice Chair: </span><span class="name">Andrew Simon</span></div>-->
        <div class="ban-cont">
          <h3 class="topic">Crisis in Ukraine</h3>
          <%= image_tag("c5.jpg", alt: "Drone Warfare", class: "banner") %>
        </div>
      </div>
    </div>
 </div>
