<div id="everything"> </div>


<!--<h1 id="tritonmun"><span id="main">Mission</span></h1>-->
    <!--<h1 id="home_h1">Model United Nations at UCSD </h1>-->

    <div class="outer" id="front">

      <div class="inner" id="il">

       <!-- <a href="javascript:;"><%= image_tag("arrow-up.png", alt: "Next", class: "arrow", id: "left") %></a>-->


        <%= render :partial => "slide", :collection => left_slides %>


      </div>

      <div class="inner" id="ir">
       <!-- <a href="javascript:;"><%= image_tag("arrow-up.png", alt: "Next", class: "arrow", id: "right") %></a>-->

        <%= render :partial => "slide", :collection => right_slides %>
        </div>


     </div>


      <div class="gde">
        <h1 id="home_h1"><span id="main">Model United Nations at UCSD</span></h1>
        <div id="copy">
<%= Frontpage.hello %>
<!--        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt
        ut labore et dolore magna aliqua.-->
<br>
        <a href="<%= Frontpage.hello_link_url %>"><span id="learn"><%= Frontpage.hello_link_text %> <span
        id="arrow">&#10148;
      </span></span></a></div>

<!--        <span class="slide-head" id="left">Travel Team</span>
        <span class="slide-head" id="right">TritonMUN</span>-->

     </div>

