<div id="everything"> </div>


<!--<h1 id="tritonmun"><span id="main">Mission</span></h1>-->
    <!--<h1 id="home_h1">Model United Nations at UCSD </h1>-->

    <div class="outer" id="front">

      <div class="inner" id="il">

       <!-- <a href="javascript:;"><%= image_tag("arrow-up.png", alt: "Next", class: "arrow", id: "left") %></a>-->


        <%= render :partial => "slide", :collection => left_slides %>


      </div>

      <div class="inner" id="ir">
       <!-- <a href="javascript:;"><%= image_tag("arrow-up.png", alt: "Next", class: "arrow", id: "right") %></a>-->

        <%= render :partial => "slide", :collection => right_slides %>
        </div>


     </div>


<div class="outer" id="news">
  <div class="inner">



    <div class="news-box">
      <ul>
        <li>
            <h2>Be on the Dais, Crisis Staff, or Organizing Committee</h2>
            <a href="/travelteam/guides">
              <div class="apply">
                View Topics
              </div></a>
            <a href="https://docs.google.com/forms/d/1b9KIyqVBj1SntUnyCgYXM_E5km5Zgn0OQFFluKWh8pg/viewform">
              <div class="apply">
                Apply Now!
              </div></a>
        </li>
        <li>
          <h2>Compete with the Team</h2>
          <a href="https://docs.google.com/forms/d/1E-nQXT6Od2sWaDKWiyYUo0PfiNMwT9SQ5ZyWSRp83LY/viewform?usp=send_form">
            <div class="apply">
              Apply Now!
            </div>
          </a>
        </li>
      </ul>
    </div>

  </div>
  <div class="inner">

    <div class="news-box">
    <ul>
      <li>
        <h2>TritonMUN XI - Spring 2015</h2>
        <a href="/tritonmun/XI/register">
          <div class="apply">
            Register
          </div>
        </a>
      </li>
      <li>
        <h2>SDIMUN - Winter 2015</h2>
        <a href="/cconference/1">
          <div class="apply">
            Learn More
          </div>
        </a>
      </li>
    </ul>
      </div>
  </div>
</div>



      <div class="gde">
        <%= image_tag "logo4.png", class: "bg" %>
        <h1 id="home_h1"><span id="main">Model United Nations at UCSD</span></h1>
        <div id="copy">
<%= Frontpage.hello %>
<!--        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt
        ut labore et dolore magna aliqua.-->
<br>
        <a style="position: relative; z-index: 999999;" href="<%= Frontpage.hello_link_url %>"><span id="learn"><%=
            Frontpage
                                                                                                .hello_link_text %>
          <span
        id="arrow">&#10148;
      </span></span></a></div>

<!--        <span class="slide-head" id="left">Travel Team</span>
        <span class="slide-head" id="right">TritonMUN</span>-->

     </div>

