%h1{class:"subhead"}
  %span{id:"main"}
    Resources


%ul.resources
  %li
    = link_to "Research Guide", "https://docs.google.com/document/d/1Yu1DsvBrFygY_UFnhWjfyh2KaBBmrxgwvSg3eu5X4CY/edit?usp=sharing"
  %li
    = link_to "Writing a Good Position Paper", "https://docs.google.com/document/d/19ZjsR2OCHQOBEr5ssQFzu7V8Pq5EaAC1QMBXuxXe1xo/edit?usp=sharing"
  %li
    = link_to "Sample Resolution with Annotations", "https://docs.google.com/document/d/1YNE4RVbtf8DT0Gc-v6VzMob6EfpsSJyCgLcpXbFRAPw/edit?usp=sharing"
  %li
    = link_to "Preambulatory Clauses and Operative Clauses", "https://docs.google.com/document/d/1pL9xciKBxaCLV8k2PyBmQGjTPMV-jnjXCh7bZWvCfTg/edit?usp=sharing"
  %li
    = link_to "Official United Nations Association MUN Glossary", "https://docs.google.com/document/d/12R-zGdH7k1XzjLktFMymZYr-eQcxZwUY_rM_pl3bA00/edit?usp=sharing"
