


.column.big.left
  .module
    -#= link_to "Add Training Session", new_training_path, class: "admin-link"
    .admin-container
      = link_to 'javascript:;' do
        .clicker A
      %ul.admin-list
        %li
          = link_to new_training_path, class: "admin-link" do
            .admin-line
              .icon
                = image_tag 'admin-icons/create.png'
              .words
                Add training session
    .title
      %span
        TOPIC SCHEDULE
    - Training.all.each do |t|
      .sub-module.module
        -#= link_to "Edit Session", edit_training_path(t), class: "admin-link"
        .admin-container
          = link_to 'javascript:;' do
            .clicker A
          %ul.admin-list
            %li
              = link_to edit_training_path(t), class: "admin-link" do
                .admin-line
                  .icon
                    = image_tag 'admin-icons/edit.png'
                  .words
                    Edit training session
            %li
              = link_to t, method: :delete, data: { confirm: "You sure?" }, class: "admin-link" do
                .admin-line
                  .icon
                    = image_tag 'admin-icons/delete.png'
                  .words
                    Delete topic
        %h1.date
          = t.date.strftime("%A")
          = t.date.strftime("%-m/%-d")
        - t.topics.each do |topic|
          .topic-cont
            %h2
              = topic.committee
            -#%img{src: "#{topic.image_url}" }
            %h3
              = topic.topic
            %p
              = topic.description
.column.small.right
  .module
    .title
      %span
        TRAINING INFO
    %table
      %tr
        %td
          WHEN
        %td
          = Training.time
      %tr
        %td
          WHERE
        %td
          = Training.location
    %p
      Our trainings are public and topics vary on a weekly basis.  The overall purpose of our training meetings
      is to build on an individual’s public speaking abilities while at the same time improving their awareness
      of international affairs.  In order to achieve this, we run simulations that emulate those within the United
      Nations.  We teach delegates how to debate within the context of the United Nations and how to write
      effective public policy.  We also like to ask “what if?” and run fantasy simulations from time to time.
      We occasionally take a break from simulations to play games aimed at improving public speaking skills.
    %p
      Our main objectives as an organization are to:
      %ol
        %li
          Instruct members on the workings and principles of the United Nations, its organs, and agencies.
        %li
          Study contemporary issues of international significance and discuss them within the context of the
          United Nation’s subcommittees.
        %li
          More fully understand the interconnectedness of our world and apply our knowledge by competing in
          conferences and discuss issues of international significance from the perspective of another nation.
        %li
          Instill in each member a sense of responsibility towards maintaining international peace and well-being
          through cooperation.

    %p
      To find out more, please drop by while we’re in session or email our training staff at
      %span.email_address
        travelingtritons@gmail.com
