.column.half.left
  .module.center
    .title
      %span
        EDIT BRANCH
    = form_for @branch do |f|
      - if @branch.errors.any?
        #error_explanation
          %h2= "#{pluralize(@branch.errors.count, "error")} prohibited this branch from being saved:"
          %ul
            - @branch.errors.full_messages.each do |msg|
              %li= msg

      %table.sign
        %tr
          %td
            = f.label :name
          %td
            = f.text_field :name
        %tr
          %td
          %td
            = f.submit 'Save', class: "button light"
