<% provide(:title, "Sign in") %>

<h1 id="tritonmun"><span id="main">Sign In</span></h1>

<div class="narrow">
<div class="two-cols">
    <div class="col" id="left">

        <%= form_for(:session, url: sessions_path) do |f| %>
        <table class="sign">
            <tr>
              <td><%= f.label :email %></td>
              <td><%= f.text_field :email %></td>
            </tr>

            <tr>
              <td><%= f.label :password %></td>
              <td><%= f.password_field :password %></td>
            </tr>

        </table>
          <div id="sub-cont">
            <%= f.submit "Sign In"%>
          </div>
          </div>
          <div class="col" id="right">
            <p id="new">New member? <br> <%= link_to "Sign up now!", signup_path %></p>
          </div>
          </div>



        <% end %>




</div>
