.column.full.left
  .module
    .title
      %span
        EDIT
        FAQ
    = form_for [@parent, @faq] do |f|
      - if @faq.errors.any?
        #error_explanation
          %h2= "#{pluralize(@faq.errors.count, "error")} prohibited this faq from being saved:"
          %ul
            - @faq.errors.full_messages.each do |msg|
              %li= msg
      .faq-field
        = f.label :name, "FAQ Title: Registration, Location, etc."
        %br/
        = f.text_field :name
        %br/
        %br/
        = f.fields_for :questions do |builder|
          = render 'question_fields',f: builder
        = link_to_add_fields "+", f, :questions

      %div{style: 'margin-top: 2em'}
        = f.submit 'Save', class: 'button light'
