

= form_for ([@user, @badge]) do |f|
  - if @badge.errors.any?
    #error_explanation
      %h2= "#{pluralize(@badge.errors.count, "error")} prohibited this badge from being saved:"
      %ul
        - @badge.errors.full_messages.each do |msg|
          %li= msg

  %table.sign
    %tr
      %td
        = f.label "Label"
      %td
        = f.text_field :name
    %tr
      %td
        = f.label "Badge Color"
      %td
        = f.text_field :color, class: "color"
    %tr
      %td
        = f.label "Text Color"
      %td
        = f.text_field :text_color, class: "color"
    %tr
      %td
        = f.label "Description"
      %td
        = f.text_area :desc


  .actions
    = f.submit 'Save'
