.column.half.left
  .module
    .title
      %span
        EDIT CONFERENCE DEADLINES
    = form_for [@parent, @deadline] do |f|
      = render 'shared/error_messages', object: f.object

      %table
        %tr
          %td
            = f.label :date
          %td
            = f.date_field :date
        %tr
          %td
            = f.label :content, "Deadline description"
          %td
            = f.text_area :content
        %tr
          %td
          %td
            = f.submit "Submit", class: "button light", data: { disable_with: "Please wait..." }
