.column.half.right
  .module.upcoming
    .admin-container.add
      = link_to 'javascript:;' do
        .clicker.add +
      %ul.admin-list
        %li
          = link_to url_for([:new, @parent, :deadline]), class: "admin-link" do
            .admin-line
              .icon
                = image_tag 'admin-icons/schedule.png'
              .words
                Add deadline
    .title
      %span
        = @parent.class.name.demodulize.downcase
        = @parent.roman

    = render partial: "deadline", collection: @parent.deadlines, as: :deadline, locals: {parent: @parent, conf: "false", parent_name: @parent.class.name.demodulize.downcase}

    = link_to @parent do
      .button.light
        < Back to conference