.module.sub-module.grid-module
  - if signed_in?
    - if current_user.admin?
      .admin-container
        = link_to 'javascript:;' do
          .clicker A
        %ul.admin-list
          %li
            = link_to edit_user_path(user), class: "admin-link" do
              .admin-line
                .icon
                  = image_tag 'admin-icons/edit.png'
                .words
                  Edit user
          %li
            = link_to user, :method => :delete, :data => { :confirm => 'Are you sure?' }, class: "admin-link" do
              .admin-line
                .icon
                  = image_tag 'admin-icons/delete.png'
                .words
                  Destroy user
  = image_tag user.avatar.url(:small), style:"width: 50px; vertical-align: middle"
  = link_to user.name, user