.module.sub-module.grid-module.center
  - if signed_in?
    - if current_user.admin?
      .admin-container
        = link_to 'javascript:;' do
          .clicker A
        %ul.admin-list
          %li
            = link_to edit_user_path(user), class: "admin-link" do
              .admin-line
                .icon
                  = image_tag 'admin-icons/edit.png'
                .words
                  Edit user
          %li
            = link_to user, :method => :delete, :data => { :confirm => 'Are you sure?' }, class: "admin-link" do
              .admin-line
                .icon
                  = image_tag 'admin-icons/delete.png'
                .words
                  Destroy user
  = link_to user do
    - if user.portrait_url.present?
      = image_tag user.portrait_url, class: 'bio-photo'
    - else
      = image_tag 'default_avatar.png', class: 'bio-photo'
  = link_to user.name, user