- provide(:title, "Edit user")
.column.half.left
  .module
    .title
      %span
        EDIT PROFILE
    = form_for(@user) do |f|
      = render 'shared/error_messages', object: f.object
      %table.sign
        %tr
          %td= f.label :name
          %td= f.text_field :name
        %tr
          %td= f.label :email
          %td= f.text_field :email
        - if signed_in?
          / Admin viewing others'
          - if !current_user.admin?
            %tr
              %td= f.label :password
              %td= f.password_field :password
            %tr
              %td= f.label :password_confirmation, "Confirm"
              %td
                = f.password_field :password_confirmation
        %tr
          %td= f.label :major
          %td= f.text_field :major
        %tr
          %td= f.label :grad_year
          %td= f.text_field :grad_year
        %tr
          %td= f.label :college
          %td= f.text_field :college
        - if signed_in?
          / Admin viewing others'
          - if current_user.admin?
            %tr
              %td= f.label :travel_team, "Travel Team?"
              %td= f.check_box :travel_team
            %tr
              %td= f.label :travel_team, "Home Conference?"
              %td= f.check_box :home_team
            %tr
              %td= f.label :travel_team, "Secretariat?"
              %td= f.check_box :secretariat
            %tr
              %td= f.label :travel_team, "Secretariat Position"
              %td= f.text_field :sec_pos
        %tr
          %td
            = f.label :bio, "Tell us about yourself."
          %td
            = f.text_area :bio, :cols => 50, :rows => 5
        -#%tr
        -#  %td
        -#    = f.label :avatar, "Upload your photo."
        -#  %td
        -#    = f.file_field :avatar, class: "avatar"
        %tr
          %td
            = f.label :portrait_url, "Profile Photo URL"
          %td
            = f.text_field :portrait_url
        %tr
          %td
          %td
            = f.submit "Sign Up", class: "button light"