<% provide(:title, @user.name) %>

<h1 id="tritonmun">
  <span id="main"><%= @user.name %></span>
</h1>

<% if @user.secretariat? %>
    <div class="user_title">

    <h2 class="sec_pos">
      <%= @user.sec_pos%>
    </h2>

    </div>
<% end %>

<div id="badge_info">blank</div>

<div class="user_cont">
<div id="buttonBox">

  <%= link_to (@user) do %>
      <div class="current button">Overview</div>
  <% end %>

  <%= link_to (@user) do %>
      <div class="button">Travel Team</div>
  <% end %>

  <%= link_to (@user) do %>
      <div class="button">TritonMUN</div>
  <% end %>

  <% if current_user?(@user) %>
      <%= link_to (edit_user_path) do %>
          <div class="button">Edit Profile</div>
      <% end %>
      <%= link_to (signout_path), method: "delete" do %>
          <div class="button">Sign out</div>
      <% end %>
  <%end%>

</div>

  <% if signed_in? %>
      <!-- Admin viewing others' -->
      <% if current_user.admin? %>
            <span class="admin">
              <%= link_to "Admin: edit user details", (edit_user_path)%>
            </span>
      <% end %>
  <% end %>

<div class="user_outer">

    <div class="ava">
        <%= image_tag @user.avatar.url(:small), style:"vertical-align: middle" %>

        <div class="badges">
          <%= render 'user_badges' %>
        </div>




    </div>

    <div class="user_info">
      <ul>
        <li><%= link_to @user.email, ("mailto:"+@user.email)%></li>
        <li><%= @user.major %></li>
      </ul>

      <div class="bio">
         <%= @user.bio %>
      </div>
    </div>


</div>

  <div class="outer">

    <div class="innerBox" >
        <h2><span>Awards</span></h2><br><br><br>
    </div>

    <div class="innerBox" >
      <h2><span>History</span></h2>


    </div>





  </div>




</div>
</div>
</div>