#- provide(:title, @user.name)
.column.full
  .module
    .title
      %span
        PROFILE

    - if signed_in?
      - if current_user.admin?
        .admin-container
          = link_to 'javascript:;' do
            .clicker A
          %ul.admin-list
            %li
              = link_to edit_user_path(@user), class: "admin-link" do
                .admin-line
                  .icon
                    = image_tag 'admin-icons/edit.png'
                  .words
                    Edit user
            %li
              = link_to @user, :method => :delete, :data => { :confirm => 'Are you sure?' }, class: "admin-link" do
                .admin-line
                  .icon
                    = image_tag 'admin-icons/delete.png'
                  .words
                    Destroy user
    .bio-box
      -#.admin-container
      -#  = link_to 'javascript:;' do
      -#    .clicker.add A
      -#  %ul.admin-list
      -#    %li
      -#      = link_to edit_user_path(@user), class: "admin-link" do
      -#        .admin-line
      -#          .icon
      -#            = image_tag 'admin-icons/edit.png'
      -#          .words
      -#            Edit user
    
      %table
        %tr
          %td
            .photo
              - if @user.portrait_url.present?
                = image_tag @user.portrait_url, class: 'bio-photo'
              - else
                = image_tag 'default_avatar.png', class: 'bio-photo'
          %td
            .bio-right
              .bio-header
                .position
                  = @user.sec_pos
                .name
                  = @user.name
                .college
                  = @user.college
                -#Eleanor Roosevelt College
                .major
                  = @user.major
              -#International Studies: Economics and Political Science
              .bio
                = @user.bio
    #badge_info blank