= form_for [@parent, @schedule] do |f|
  - if @schedule.errors.any?
    #error_explanation
      %h2= "#{pluralize(@schedule.errors.count, "error")} prohibited this schedule from being saved:"
      %ul
        - @schedule.errors.full_messages.each do |msg|
          %li= msg
  .field
    = f.label :name
    = f.text_field :name
    = f.label :date
    = f.date_field :date
  = f.fields_for :events do |builder|
    = render 'event_fields',f: builder
  = link_to_add_fields "Add Event", f, :events

  .actions
    = f.submit 'Save'
