#branch-nav
  = link_to '/branches/tritonmun#', class: "square" do
    .box
      = image_tag 'geisel.png'
  = branch_nav_link 'Club Overview', about_path
  = branch_nav_link 'Participate', participate_path
  = branch_nav_link 'Secretariat', secretariat_path
  = branch_nav_link 'History', history_path