#branch-nav
  = link_to '/admintools#', class: "square" do
    .red.box#ad
      A
  = branch_nav_link 'Branches', branches_path
  = branch_nav_link 'Front Page', admintools_frontpages_path
  = branch_nav_link 'Conferences', admintools_conferences_path
  = branch_nav_link 'Users', users_path