#buttonBox
  MANAGE:
  = link_to branches_path do
    .button Branches
  = link_to frontpages_path do
    .button Frontpage
  = link_to tconferences_path do
    .button Travel Conferences
  = link_to hconferences_path do
    .button Home Conferences
  = link_to cconferences_path do
    .button Collegiate Conferences