<div id="buttonBox">
  <%= link_to @hconference do %>
      <div class="button">Overview</div>
  <% end %>

  <%= link_to location_hconference_path(@hconference) do %>
      <div class="button">Locations</div>
  <% end %>

  <%= link_to committees_hconference_path(@hconference) do %>
      <div class="button">Committees</div>
  <% end %>

  <%= link_to speakers_hconference_path(@hconference) do %>
      <div class="button">Speakers</div>
  <% end %>

  <%= link_to research_hconference_path(@hconference) do %>
      <div class="button">Research</div>
  <% end %>

  <%= link_to position_papers_hconference_path(@hconference) do %>
      <div class="button">Position Papers</div>
  <% end %>

  <%= link_to register_hconference_path(@hconference) do %>
      <div class="button" id="register">Register</div>
  <% end %>
</div>