#buttonBox
  = link_to @hconference do
    .button Overview
  = link_to locations_hconference_path(@hconference) do
    .button Location
  = link_to committees_hconference_path(@hconference) do
    .button Committees
  = link_to speakers_hconference_path(@hconference) do
    .button Speakers
  = link_to research_hconference_path(@hconference) do
    .button Research
  = link_to position_papers_hconference_path(@hconference) do
    .button Position Papers
  = link_to register_hconference_path(@hconference) do
    #register.button Register