#branch-nav
  = link_to '/branches/tritonmun#', class: "square" do
    .box
      = image_tag 'geisel.png'
  = link_to @hconference, class: "square" do
    .box#roman
      = @hconference.roman
  = branch_nav_link 'Overview', @hconference
  = branch_nav_link 'Committees', committees_hconference_path(@hconference)
  = branch_nav_link 'Speakers', hconference_speakers_path(@hconference)
  = branch_nav_link 'Research', research_hconference_path(@hconference)
  = branch_nav_link 'Position Papers', position_papers_hconference_path(@hconference)
  = branch_nav_link 'Register', register_hconference_path(@hconference)