
.comm_box
  %h2.com_head
    = topic.committee
  - if topic.guide_filename.present?
    %a{:href => asset_path(topic.guide_filename)}
      .button
        Topic
        Guide
  - if topic.chair.present?
    .chair
      %span.chair
        Chair:
      %span.name
        = topic.chair
  - if topic.vice_chair.present?
    .chair
      %span.chair
        Vice Chair:
      %span.name
        = topic.vice_chair
  %br/
  = link_to "Edit", url_for([:edit, parent, topic]), class: "admin-link"
  = link_to "delete", topic, method: :delete, data: { confirm: "You sure?" }, class: "admin-link"
  .ban-cont
    .image-cont
      = image_tag("#{topic.image_url}", class: "banner")
    %h3.topic
      = topic.topic
  %div
    = topic.description