#branch-nav
  = link_to '/branches/travelteam#', class: "square" do
    .box
      = image_tag 'balloon.png'
  = branch_nav_link 'Overview', branch_path(Branch.travel.first)
  = branch_nav_link 'Training', "/branches/travelteam/training"
  = branch_nav_link 'Conferences', "/branches/travelteam/upcoming"
  = branch_nav_link 'Resources', "/branches/travelteam/resources"
  = branch_nav_link 'Awards', "/branches/travelteam/past"