#branch-nav
  = link_to '/branches/travelteam#', class: "square" do
    .box
      - if @user.portrait_url.present?
        = image_tag @user.portrait_url, class: ''
      - else
        = image_tag 'default_avatar.png', class: ''
  - if current_user?(@user)
    = branch_nav_link 'Edit Profile', (edit_user_path)
    = link_to 'Sign out', signout_path, method: 'delete', class: 'section'
  -#- if signed_in?
  -#  = link_to "Sign In", signin_path, class: 'section'

  -#- if signed_in?
  -#  - if current_user.admin?
  -#    = link_to "Admin: edit user details", (edit_user_path), class: "section"
  -#    = link_to "Admin: remove user", @user, :method => :delete, :data => { :confirm => 'Are you sure?' }, class: 'section'
  -#    = link_to "Admin: give badge", (new_user_badge_path(@user)), class: "section"
