<li>
  <div class="phot-cont slide s-<%= frontpage.side %>">
    <div class="overlay-cont">
      <div class="overlay">

        <% if frontpage.description.present? %>
        <div class="title">
            <%= frontpage.title %>
        </div>
        <% else %>
            <div class="word">
              <%= frontpage.title %>
            </div>
        <% end %>


        <span class="small"><%= frontpage.description %></span>

        <% if frontpage.link_href != "" %>
            <a href="<%= frontpage.link_href %>" class="butt"><%= frontpage.link_text %></a>
        <% end %>

      </div>
    </div>

    <%= image_tag frontpage.bg_image.url(:medium), style:"width: 100%; vertical-align: middle" %>
  </div>


  <br>

      | <%= link_to "edit", ("/frontpages/" + (frontpage.id).to_s + "/edit"), method: :get %>

      | <%= link_to "delete", frontpage, method: :delete,
                    data: { confirm: "You sure?" } %>
</li>