<%= form_tag(_update_hello_path, method: "put") do %>
    <%= label_tag(:hello, "Greeting:") %><br>
    <%= text_area_tag :hello, Frontpage.hello, :cols => 10, :rows => 5 %><br>

    <table>
      <tr>
        <td><%= label_tag(:hello_link_text, "Link text:") %></td>
        <td><%= text_field_tag :hello_link_text, Frontpage.hello_link_text, style:"width: 100%" %></td>
      </tr>
      
      <tr>
        <td><%= label_tag(:hello_link_url, "Link url:") %></td>
        <td><%= text_field_tag :hello_link_url, Frontpage.hello_link_url, style:"width: 100%" %></td>
      </tr>
      
    </table>
    <br>
    <%= submit_tag("Update Greeting") %>
<% end %>
