



<li class="fields">


  <span class="left" id="time"><%= f.label :time_start, "Time Start" %>
    <%= f.text_field :time_start %>
    <%= f.label :time_end, "Time End" %>
    <%= f.text_field :time_end %></span>

  <span class="right" id="activity"><%= f.label :activity, "Activity" %>
    <%= f.text_field :activity %>
    <%= f.label :place, "Place" %>
    <%= f.text_field :place %></span>

  <%= link_to_remove_fields "Remove", f %>
</li>





