

<li>
  <%= link_to hconference.roman, conf_path(hconference), class: "roman" %> <br>
  <%= hconference.season %> <%= hconference.year %>
<br>
  <% if signed_in? %>
      <% if current_user.admin? %>

          <%= link_to "edit", conf_path(hconference) + "/edit"%>

          | <%= link_to "delete", hconference, method: :delete,
                        data: { confirm: "You sure?" } %>
      <% end %>
  <% end %>
</li>