<h1 id="tritonmun">
  <span id="main">Committees</span>
</h1>
<!-- render roman, season, year here -->

<h2 id="season">TritonMUN
    <span id="roman">
        <%= @hconference.roman %>
    </span>
</h2>

<div class="conf_cont">

  <div id="buttonBox">

    <%= link_to (conf_path(@hconference)) do %>
        <div class="button">Overview</div>
    <% end %>

    <%= link_to (conf_button_path( "committees", @hconference )) do %>
        <div class="current button">Committees</div>
    <% end %>

    <%= link_to (conf_button_path( "speakers", @hconference )) do %>
        <div class="button">Speakers</div>
    <% end %>

    <%= link_to (conf_button_path( "research", @hconference )) do %>
        <div class="button">Research</div>
    <% end %>

    <%= link_to (conf_button_path( "position_papers", @hconference )) do %>
        <div class="button">Position Papers</div>
    <% end %>

    <%= link_to (conf_button_path( "register", @hconference )) do %>
        <div class="button" id="register">Register</div>
    <% end %>

  </div>

  <div id="comm_cont">

<!--    <div id="pp_top">
      <span class="exclaim">!</span>
      <p id="dead"><strong>Topic Guides will be posted shortly</strong></p>

      <p id="dead2"><em>Please check back for updates.</em></p>
    </div>-->

    <div class="comm_box">
      <h2 class="com_head">1st Disarmament and International Security</h2>
      <a href="<%= asset_path("bgs/ScooterMuse-Fischer-DISEC-FinalCopy.pdf") %>"><div class="button">Topic
        Guide</div></a>
      <div class="chair"><span class="chair">Chair: </span><span class="name">Andrew Muse-Fisher</span></div>
     <!-- <div class="chair"><span class="chair">Vice Chair: </span><span class="name">Andrew Simon</span></div>-->
      <div class="ban-cont">
        <h3 class="topic">Drone Warfare</h3>
        <%= image_tag("c1.jpg", alt: "Drone Warfare", class: "banner") %>
      </div>

    </div>

    <div class="comm_box">
      <h2 class="com_head">World Health Organization</h2>
      <a href="<%= asset_path("bgs/EmilyLu-WHO-FinalCopy.pdf") %>"><div class="button">Topic Guide</div></a>
      <div class="chair"><span class="chair">Chair: </span><span class="name">Emily Lu</span></div>
      <div class="ban-cont">
        <h3 class="topic">Malnutrition in Least Developed Countries</h3>
        <%= image_tag("c2.jpg", alt: "Drone Warfare", class: "banner") %>
      </div>

    </div>

    <div class="comm_box">
      <h2 class="com_head">UN Development Program</h2>
      <a href="<%= asset_path("bgs/CarlaDiot-UNDP-FinalCopy.pdf") %>"><div class="button">Topic Guide</div></a>
      <div class="chair"><span class="chair">Chair: </span><span class="name">Carla Diot</span></div>
      <!-- <div class="chair"><span class="chair">Vice Chair: </span><span class="name">Andrew Simon</span></div>-->
      <div class="ban-cont">
        <h3 class="topic">Development Assistance for Syrian Refugees</h3>
        <%= image_tag("c3.jpg", alt: "Drone Warfare", class: "banner") %>
      </div>
    </div>

    <div class="comm_box">
      <h2 class="com_head">UN Education, Scientific and Cultural Organization</h2>
      <a href="<%= asset_path("bgs/ReinaIshii-UNESCO-FinalCopy.pdf") %>"> <div class="button">Topic Guide</div></a>
      <div class="chair"><span class="chair">Chair: </span><span class="name">Reina Ishii</span></div>
      <div class="ban-cont">
        <h3 class="topic">Inclusive Education for All</h3>
        <%= image_tag("c4.jpg", alt: "Drone Warfare", class: "banner") %>
      </div>
    </div>




    <div class="comm_box">
      <h2 class="com_head">Security Council</h2>
      <a href="<%= asset_path("bgs/AshrafBeshay-SecurityCouncil-FinalCopy.pdf") %>"><div class="button">Topic Guide</div></a>
      <div class="chair"><span class="chair">Chair: </span><span class="name">Ashraf Beshay</span></div>

      <!-- <div class="chair"><span class="chair">Vice Chair: </span><span class="name">Andrew Simon</span></div>-->

      <div class="ban-cont">
          <h3 class="topic">Cyberterrorism</h3>
          <%= image_tag("c6.jpg", alt: "Drone Warfare", class: "banner") %>
      </div>
    </div>

    <div class="crisis">
      <div class="comm_box">
        <h2 class="com_head">Crisis: North Atlantic Treaty Organization</h2>
        <a href="<%= asset_path("bgs/PeytonStever-NATO-FinalCopy.pdf") %>"> <div class="button">Topic Guide</div></a>
        <div class="chair"><span class="chair">Chair: </span><span class="name">Peyton Stever</span></div>
        <!-- <div class="chair"><span class="chair">Vice Chair: </span><span class="name">Andrew Simon</span></div>-->
        <div class="ban-cont">
          <h3 class="topic">Crisis in Ukraine</h3>
          <%= image_tag("c5.jpg", alt: "Drone Warfare", class: "banner") %>
        </div>
      </div>
    </div>

  </div>

</div>