<h1 id="tritonmun">
  <span id="main">Committees</span>
</h1>
<!-- render roman, season, year here -->

<h2 id="season">TritonMUN
    <span id="roman">
        <%= to_roman @hconference %>
    </span>
</h2>

<div class="conf_cont">

  <div id="buttonBox">

    <%= link_to (conf_path(@hconference)) do %>
        <div class="button">Overview</div>
    <% end %>

    <%= link_to (conf_button_path( "committees", @hconference )) do %>
        <div class="current button">Committees</div>
    <% end %>

    <%= link_to (conf_button_path( "speakers", @hconference )) do %>
        <div class="button">Speakers</div>
    <% end %>

    <%= link_to (conf_button_path( "research", @hconference )) do %>
        <div class="button">Research</div>
    <% end %>

    <%= link_to (conf_button_path( "position_papers", @hconference )) do %>
        <div class="button">Position Papers</div>
    <% end %>

    <%= link_to (conf_button_path( "register", @hconference )) do %>
        <div class="button" id="register">Register</div>
    <% end %>

  </div>

  <div id="comm_cont">

    <div class="comm_box">
      <h2 class="com_head">1st Disarmament and International Security</h2>
      <div class="button">Topic Guide</div>
      <div class="gray button">Topic Update</div>
      <div class="chair"><span class="chair">Chair: </span><span class="name">Andrew Muse-Fisher</span></div>
     <!-- <div class="chair"><span class="chair">Vice Chair: </span><span class="name">Andrew Simon</span></div>-->

      <%= image_tag("c1.jpg", alt: "Drone Warfare", class: "banner") %>
    </div>

    <div class="comm_box">
      <h2 class="com_head">World Health Organization</h2>
      <div class="button">Topic Guide</div>
      <div class="gray button">Topic Update</div>
      <div class="chair"><span class="chair">Chair: </span><span class="name">Emily Lu</span></div>
      <div class="chair"><span class="chair">Vice Chair: </span><span class="name">Lilia Stone</span></div>
      <%= image_tag("c2.jpg", alt: "Drone Warfare", class: "banner") %>

    </div>

    <div class="comm_box">
      <h2 class="com_head">UN Development Program</h2>
      <div class="button">Topic Guide</div>
      <div class="gray button">Topic Update</div>
      <div class="chair"><span class="chair">Chair: </span><span class="name">Carla Diot</span></div>
      <!-- <div class="chair"><span class="chair">Vice Chair: </span><span class="name">Andrew Simon</span></div>-->
      <%= image_tag("c3.jpg", alt: "Drone Warfare", class: "banner") %>
    </div>

    <div class="comm_box">
      <h2 class="com_head">UN Education, Scientific and Cultural Organization</h2>
      <div class="button">Topic Guide</div>
      <div class="gray button">Topic Update</div>
      <div class="chair"><span class="chair">Chair: </span><span class="name">Reina Ishii</span></div>
      <div class="chair"><span class="chair">Vice Chair: </span><span class="name">Sarah Min</span></div>
      <%= image_tag("c4.jpg", alt: "Drone Warfare", class: "banner") %>
    </div>

    <div class="comm_box">
      <h2 class="com_head">North Atlantic Treaty Organization</h2>
      <div class="button">Topic Guide</div>
      <div class="gray button">Topic Update</div>
      <div class="chair"><span class="chair">Chair: </span><span class="name">Peyton Stever</span></div>
      <!-- <div class="chair"><span class="chair">Vice Chair: </span><span class="name">Andrew Simon</span></div>-->
      <%= image_tag("c5.jpg", alt: "Drone Warfare", class: "banner") %>
    </div>


    <div class="comm_box">
      <h2 class="com_head">Security Council</h2>
      <div class="button">Topic Guide</div>
      <div class="gray button">Topic Update</div>
      <div class="chair"><span class="chair">Chair: </span><span class="name">Ashray Beshay</span></div>
      <!-- <div class="chair"><span class="chair">Vice Chair: </span><span class="name">Andrew Simon</span></div>-->
      <%= image_tag("c6.jpg", alt: "Drone Warfare", class: "banner") %>
    </div>



  </div>

</div>