<h1 id="tritonmun"><span id="main">Update Conference Details</span></h1>

<div class="narrow">


  <div class="even_more">
    <div class="forms">
      <%= form_for(@hconference) do |f| %>
          <%= render 'shared/error_messages', object: f.object %>


          <table class="sign">

            <tr>
              <td><%= f.label :number %></td>
              <td><%= f.text_field :number %></td>
            </tr>


            <tr>
              <td><%= f.label :season %></td>
              <td><%= f.text_field :season %></td>
            </tr>


            <tr>
              <td><%= f.label :year %></td>
              <td><%= f.text_field :year %></td>
            </tr>

            <tr>
              <td><%= f.label :date %></td>
              <td><%= f.text_field :date %></td>
            </tr>

            <tr>
              <td><%= f.label :location %></td>
              <td><%= f.text_field :location %></td>
            </tr>

            <tr>
              <td><%= f.label :delegation_fee, "Delegation Fee" %></td>
              <td>$<%= f.text_field :delegation_fee %></td>
            </tr>

            <tr>
              <td><%= f.label :early_price, "Early Price" %></td>
              <td>$<%= f.text_field :early_price %></td>
            </tr>

            <tr>
              <td><%= f.label :early_date, "Early Price Deadline" %></td>
              <td>Before: <%= f.text_field :early_date %></td>
            </tr>

            <tr>
              <td><%= f.label :normal_price, "Normal Price" %></td>
              <td>$<%= f.text_field :normal_price %></td>
            </tr>


            <tr>
              <td><%= f.label :normal_date, "Normal Price Deadline" %></td>
              <td>Before: <%= f.text_field :normal_date %></td>
            </tr>

            <tr>
              <td><%= f.label :late_price, "Late Price" %></td>
              <td>$<%= f.text_field :late_price %></td>
            </tr>


            <tr>
              <td><%= f.label :late_date, "Late Price Deadline" %></td>
              <td>Before: <%= f.text_field :late_date %></td>
            </tr>

          </table>





          <%= f.submit "Update Conference", class: "btn btn-large btn-primary" %>
      <% end %>
    </div>
  </div>
</div>
