- provide(:title, 'All Home Conferences')
%h1{class:"subhead"}
  %span{id:"main"}
    Manage Home Conferences

%div.admin-items-cont
  - @hconferences.each do |h|
    %div.item
      %span.name
        = h.roman
      %br/
      = link_to 'Edit', edit_hconference_path(h), class: "admin-link"
      = link_to 'Destroy', h, :method => :delete, :data => { :confirm => 'Are you sure?' }, class: "admin-link"
      %br/
      = link_to 'FAQS', hconference_faqs_path(h), class: "admin-link"
      = link_to 'Schedules', hconference_schedules_path(h), class: "admin-link"

%br

= link_to 'New Travel Conference', new_hconference_path, class: 'admin-link'
