<% provide(:title, 'New Home Conference') %>
<h1>New Home Conference</h1>

<div class="row">
  <div class="span6 offset3">
    <%= form_for(@hconference) do |f| %>
        <%= render 'shared/error_messages', object: f.object %>

        <%= f.label :number %>
        <%= f.text_field :number %>

        <%= f.label :season %>
        <%= f.text_field :season %>

        <%= f.label :year %>
        <%= f.text_field :year %>

        <%= f.label :date %>
        <%= f.text_field :date %>

        <%= f.label :location %>
        <%= f.text_field :location %>

        <%= f.label :early_price, "Early Price" %>
        <%= f.text_field :early_price %>

        <%= f.label :normal_price, "Normal Price" %>
        <%= f.text_field :normal_price %>


        <%= f.submit "Create Conference", class: "btn btn-large btn-primary" %>
    <% end %>
  </div>
</div>