<% provide(:title, "TritonMUN") %>


<!--
render season, year here
-->




<div class="conf_cont">

<br>
  <%= render 'shared/question_form' %>

  <div class="outer">
    <div class="innerBox" >

      <h2><span>Information</span></h2>
      <div class="infosBox">
        <table class="infos" >
            <tr>
              <td class="label">Date: </td>
              <td class="info"><%= @hconference.date %> </td>
            </tr>

            <tr>
              <td class="label">Location: </td>
              <td class="info"><%= @hconference.location %></td>
            </tr>

          <tr>
            <td class="label">Delegation Fee: </td>
            <td class="info">$<%= @hconference.delegation_fee %> / school</td>
          </tr>

            <tr>
              <td class="label">Early: </td>
              <td class="info">$<%= @hconference.early_price %> / delegate  <span class="date">(by <%= @hconference
                                                                                                  .early_date %>)
              </span>
              </td>
            </tr>

            <tr>
              <td class="label">Regular: </td>
              <td class="info">$<%= @hconference.normal_price %> / delegate <span class="date">(by <%= @hconference
                                                                                                       .normal_date %>)
              </span> </td>
            </tr>

          <tr>
            <td class="label">Late: </td>
            <td class="info">$<%= @hconference.late_price %> / delegate <span class="date">(by <%= @hconference
                                                                                                   .late_date %>)
            </span> </td>
          </tr>
    </table>
        <br><br><br>
      </div>
    </div>

    <div class="innerBox">
      <h2><span>Deadlines</span></h2>
      <div class="infosBox">
        <table class="infos" >
            <tr><td class="label date">December 12, 2014</td>
              <td class="info">Early registration deadline to postmark payment.</td></tr>

            <tr><td class="label date">February 6, 2015</td>
              <td class="info">Regular registration deadline to postmark payment.</td></tr>

            <tr><td class="label date">March 6, 2015</td>
              <td class="info">Late registration deadline to postmark payment.</td></tr>

            <tr><td class="label date">April 12, 2014</td>
              <td class="info">Position papers due at 11:59 pm PST.</td></tr>
        </table>
      </div>
    </div>


  </div>
  <div class="outer">
    <div class="innerBox" >
      <h2><span>Registration FAQ</span></h2>


      <div class="faq">
<!--        <% if @hconference.questions.any? %>
              <%= render @questions %>
        <% end %>-->
      <div class="question">Where do I register?</div>
      <div class="answer">Please register online <%= link_to "here.", (conf_path(@hconference) + "/" + "register")
      %></div>

      <div class="question">What if there's a change to delegate numbers?</div>
        <div class="answer">If there's a change in delegate numbers, please let us know
          immediately so we can change your invoice as well as updating committee country spots.</div>

      <div class="question">What happens after registration?</div>
        <div class="answer">You'll receive a confirmation email from us with an invoice based on the estimated delegate number.
          If you do not hear from us within a few days, please contact us at tritonmun.ucsd@gmail.com</div>

        <div class="question">Will I be able to make several different payments?</div>
        <div class="answer">Yes. Each payment will depend on the deadline, but you can split the payment into
          different portions if it is more convenient.</div>


      <div class="question">What are the fees?</div>
<div class="answer">Refer to the 'Information' section above.</div>

      <div class="question">To whom do I make the check out?</div>
        <div class="answer"><u>UC Regents</u></div>


      <div class="question">Will I be able to make several different payments?</div>
      <div class="answer">Each payment will depend on the deadline but you can split the payment
        in different portions if it's more convenient.</div>

      <div class="question">What forms of payment are accepted?</div>
      <div class="answer">At the moment, only checks are accepted.</div>

      <div class="question">How should I send the check?</div>
      <div class="answer">If you are not in the San Diego area, please send your checks via postal mail. Because we
receive our mail from UCSD's postal service, there may be further delay due to the sorting process.
We encourage you to inform us once you have mailed the payment so we can keep an eye out for it.
      If you are close to UCSD, we ask that you personally drop off the checks to make the process fast and safe.</div>

      <div class="question">Where do I send the payment?</div>
      <div class="answer">
      <em>Postal Mail:</em><br>
      Attn: Model UN at UCSD<br>
      International House<br>
      UC San Diego<br>
      9500 Gilman Drive, 0550<br>
      La Jolla, CA 92093-0550<br>
        <br>
      <em>Drop-off:</em><br>
      International House Office - off of Torrey Pines Rd on Pangea Dr.<br>
      Visit <a href="http://ihouse.ucsd.edu/contact/index.html">this link</a> for more details:</div>

      <div class="question">When will I receive country assignments?</div>
      <div class="answer">Country assignments are given out as we receive payments. This is to ensure the proper assignment of country spots.
      If there are any issues such as constrained timeline, please contact us as soon as possible so we can try to accommodate you.</div>


      <div class="question">Are you able to satisfy all of our country preferences?</div>
      <div class="answer">While we'd like to, it would be logistically unrealistic to provide everyone with their preferred countries.
    We try our best to do so though, so thanks for your understanding. To ensure the best chance of getting your
    preferred countries, please try to send us the payment as soon as possible so we can release your country assignments.</div>

    <div class="question">Where is the conference?</div>
      <div class="answer">TritonMUN X will be hosted at the UC San Diego Price Center. Committees will be
    located between the Student Services Center and the East and West wings of Price Center.
    <a href="http://universitycenters.ucsd.edu/aboutus_map_and_directions.php">Directions.</a></div>

    <div class="question">Is there parking nearby? </div>
        <div class="answer">Yes. The most convenient parking is inside the Gilman parking structure. Parking
    is FREE on the weekends.</div>

      <div class="question">Is there a hotel for us to stay overnight?</div>
          <div class="answer">In past years, delegates have stayed at the La Jolla Sheraton.
<br><br>
      <em>Contact information here:</em><br>
      Mark Kuper<br>
      Sales Manager<br>
      858.452.4012<br>
      SHERATON LA JOLLA HOTEL<br>
      3299 Holiday Court, La Jolla, CA 92037<br>
      <a href="http://sheratonlajolla.com">sheratonlajolla.com</a></div>


      </div>
    </div>

    <div class="innerBox" >
      <h2><span>Schedule</span></h2>

      <table class="sched">
        <caption><strong>Day 1: </strong>Saturday, April 25th</caption>
        <tr class="sched">
          <td class="left">9:00 am - 9:30 am</td>
          <td class="right">Check In / Price Center Theater (1st floor)</td>
        </tr>

        <tr class="sched">
          <td class="left">9:30 am - 10:00 am</td>
          <td class="right">Opening Ceremony / Price Center Theater</td>
        </tr>

        <tr class="sched">
          <td class="left">10:00 am - 1:00 pm</td>
          <td class="right">Session I</td>
        </tr>

        <tr class="sched">
          <td class="left">1:00 pm - 2:30 pm</td>
          <td class="right">Lunch / Various Locations</td>
        </tr>

        <tr class="sched">
          <td class="left">2:30 pm - 4:30 pm</td>
          <td class="right">Session II</td>
        </tr>
        <tr class="sched">
          <td class="left">3:00 pm - 4:00 pm</td>
          <td class="right">Advisor Reception *</td>
        </tr>

        <tr class="sched">
          <td class="left">4:30 pm - 4:45 pm</td>
          <td class="right">Break</td>
        </tr>

        <tr class="sched">
          <td class="left">4:45 pm - 6:00 pm</td>
          <td class="right">Session III</td>
        </tr>

        <tr class="sched">
          <td class="left">8:00 pm - 10:00 pm</td>
          <td class="right">Delegate Social / La Jolla Sheraton Hotel</td>
        </tr>
      </table>
<br>
      <table class="sched">
        <caption><strong>Day 2: </strong>Sunday, April 26th</caption>
        <tr class="sched">
          <td class="left">9:00 am - 1:00 pm</td>
          <td class="right">Session IV</td>
        </tr>

        <tr class="sched">
          <td class="left">1:00 pm - 2:30 pm</td>
          <td class="right">Lunch</td>
        </tr>

        <tr class="sched">
          <td class="left">2:30 pm - 3:00 pm</td>
          <td class="right">Closing Ceremony / Price Center Theater</td>
        </tr>


      </table>
      <em>* Shuttles will be provided to and from the La Jolla Sheraton Hotel.</em>

    </div>



  </div>

    <div class="outer">
      <div class="innerBox" >
        <h2><span>Regulations</span></h2>
        <p>Please follow all committee rules and regulations. Failure to do so may result in loss of diplomacy points and in severe cases, expulsion from committee.</p>

        <br />
        <p><strong>No cellphones</strong>, iPads, tablets, or other electronic devices in committee. If a delegate wishes to
          use their cellphone in an emergency, they may respectfully exit the room. Delegates who make a habit of this may be asked to leave.</p>

        <br />
        <p>Delegates MAY use their <strong>laptops</strong> to type resolutions during unmoderated caucus only. Draft
          resolutions will be submitted to their Chair via email or a flash drive. Under no circumstances may delegates use their laptops for other purposes. Delegates will be provided with a sample resolution and list of preoperative and operative clauses.</p>

        <br />
        <p><strong>Pre-written resolutions</strong> are forbidden and are grounds for disqualification of committee awards.
          This
                        includes operative clauses, preoperative clauses, or any variation thereof, written out before committee session begins or the topic is introduced. </p>

        <br />
        <p><strong>Plagiarism</strong> is a serious offense and may be grounds for disqualification of committee awards. All
                            Chairs will be checking for plagiarism through various devices. In order to avoid plagiarism, cite all sources in your position paper, and avoid quoting or paraphrasing. You may instead combine or restructure information to come to a different conclusion, using entirely different words and phrases.</p>

        <br />
        Delegates are expected to cease their conversation at the bang of the gavel. The gavel signifies the end of a moderated or unmoderated caucus and the end of a speech. During speeches, Chairs will tap the gavel with 10 seconds left, and bang the gavel at the end of your speech. During comments, Chairs will tap the gavel with 5 seconds left, and bang the gavel at the end of your comment. The taps signifies to a delegate to wrap up their point. After the bang of the gavel, they may finish their phrase but may not start a new sentence or conjunction.
      </div>
    </div>
</div>

