- provide(:title, "TritonMUN")
/
  render season, year here

.column.half.left
  .module
    .admin-container
      = link_to 'javascript:;' do
        .clicker A
      %ul.admin-list
        %li
          = link_to edit_hconference_path(@hconference), class: "admin-link" do
            .admin-line
              .icon
                = image_tag 'admin-icons/edit.png'
              .words
                Edit conference
    .title
      %span
        INFORMATION
    %table
      %tr
        %td.label Date:
        %td.info= @hconference.date
      %tr
        %td.label Location:
        %td.info= @hconference.location
      %tr
        %td.label Delegation Fee:
        %td.info
          $#{@hconference.delegation_fee} / school
      %tr
        %td.label Early:
        %td.info
          $#{@hconference.early_price} / delegate
          %span.date
            (by #{@hconference .early_date})
      %tr
        %td.label Regular:
        %td.info
          $#{@hconference.normal_price} / delegate
          %span.date
            (by #{@hconference .normal_date})
      %tr
        %td.label Late:
        %td.info
          $#{@hconference.late_price} / delegate
          %span.date
            (by #{@hconference .late_date})

  .module
    .title
      %span
        REGISTRATION FAQ
    - if @reg_faq.present?
      - if signed_in?
        - if current_user.admin?
          .admin-container
            = link_to 'javascript:;' do
              .clicker A
            %ul.admin-list
              %li
                = link_to edit_hconference_faq_path(@hconference, @reg_faq), class: "admin-link" do
                  .admin-line
                    .icon
                      = image_tag 'admin-icons/edit.png'
                    .words
                      Edit
                      FAQ
      .faq.admin-editable
        %ul.questions
          - @reg_faq.questions.each do |q|
            %li
              .module.sub-module
                .question
                  = q.content.html_safe
                - q.answers.each do |a|
                  .answer
                    = a.content.html_safe
    - else
      = link_to "Create Registration FAQ", new_hconference_faq_path(@hconference, Faq.specific_faq(@hconference, "Registration")), class: "admin-link"
.column.half.right
  .module
    .title
      %span
        DEADLINES
    %table.infos
      %tr
        %td.label.date December 12, 2014
        %td.info Early registration deadline to postmark payment.
      %tr
        %td.label.date February 6, 2015
        %td.info Regular registration deadline to postmark payment.
      %tr
        %td.label.date March 6, 2015
        %td.info Late registration deadline to postmark payment.
      %tr
        %td.label.date April 12, 2015
        %td.info Position papers due at 11:59 pm PST.
  .module
    .admin-container
      = link_to 'javascript:;' do
        .clicker A
      %ul.admin-list
        %li
          = link_to new_hconference_schedule_path(@hconference), class: "admin-link" do
            .admin-line
              .icon
                = image_tag 'admin-icons/create.png'
              .words
                Add schedule
    .title
      %span
        SCHEDULE
    = render partial: 'schedules/conference_schedule', collection: @hconference.schedules, as: 'schedule', locals: {parent: @hconference, conf: "true", parent_name: 'Conference'}
    -#= link_to "New Schedule", new_hconference_schedule_path(@hconference), class: "admin-link"
    -#- if @day1_sched.present?
    -#  = render partial: "schedules/schedule", object: @day1_sched, locals: {parent: @hconference, conf: "true"}
    -#- if @day2_sched.present?
    -#  = render partial: "schedules/schedule", object: @day2_sched, locals: {parent: @hconference, conf: "true"}
    -#- if @day3_sched.present?
    -#  = render partial: "schedules/schedule", object: @day3_sched, locals: {parent: @hconference, conf: "true"}
  .module
    .title
      %span
        REGULATIONS
    %p Please follow all committee rules and regulations. Failure to do so may result in loss of diplomacy points and in severe cases, expulsion from committee.
    
    %p
      %strong> No cellphones
      , iPads, tablets, or other electronic devices in committee. If a delegate wishes to
      use their cellphone in an emergency, they may respectfully exit the room. Delegates who make a habit of this may be asked to leave.
    
    %p
      Delegates MAY use their
      %strong laptops
      to type resolutions during unmoderated caucus only. Draft
      resolutions will be submitted to their Chair via email or a flash drive. Under no circumstances may delegates use their laptops for other purposes. Delegates will be provided with a sample resolution and list of preoperative and operative clauses.
    
    %p
      %strong Pre-written resolutions
      are forbidden and are grounds for disqualification of committee awards.
      This
      includes operative clauses, preoperative clauses, or any variation thereof, written out before committee session begins or the topic is introduced.
    
    %p
      %strong Plagiarism
      is a serious offense and may be grounds for disqualification of committee awards. All
      Chairs will be checking for plagiarism through various devices. In order to avoid plagiarism, cite all sources in your position paper, and avoid quoting or paraphrasing. You may instead combine or restructure information to come to a different conclusion, using entirely different words and phrases.
    
    Delegates are expected to cease their conversation at the bang of the gavel. The gavel signifies the end of a moderated or unmoderated caucus and the end of a speech. During speeches, Chairs will tap the gavel with 10 seconds left, and bang the gavel at the end of your speech. During comments, Chairs will tap the gavel with 5 seconds left, and bang the gavel at the end of your comment. The taps signifies to a delegate to wrap up their point. After the bang of the gavel, they may finish their phrase but may not start a new sentence or conjunction.