<h1 id="tritonmun">
  <span id="main">Speakers</span>
</h1>
<!-- render roman, season, year here -->

<h2 id="season">TritonMUN
    <span id="roman">
        <%= @hconference.roman %>
    </span>
</h2>

<div class="conf_cont">

  <div id="buttonBox">

    <%= link_to (conf_path(@hconference)) do %>
        <div class="button">Overview</div>
    <% end %>

    <%= link_to (conf_button_path( "committees", @hconference )) do %>
        <div class="button">Committees</div>
    <% end %>

    <%= link_to (conf_button_path( "speakers", @hconference )) do %>
        <div class="current button">Speakers</div>
    <% end %>

    <%= link_to (conf_button_path( "research", @hconference )) do %>
        <div class="button">Research</div>
    <% end %>

    <%= link_to (conf_button_path( "position_papers", @hconference )) do %>
        <div class="button">Position Papers</div>
    <% end %>

    <%= link_to (conf_button_path( "register", @hconference )) do %>
        <div class="button" id="register">Register</div>
    <% end %>

  </div>

  <div id="letter" style="width: 60%; text-align:left;">
    <p style="text-align:left;">
      <h1 style="font-style: normal">Keynote Speaker: Richard Madsen</h1>
      <h2>Distinguished Professor, Director of UC Fudan Center & Acting Provost of Eleanor Roosevelt College</h2>

      <p>
      Richard Madsen received an M.A. in Asian studies and a Ph.D. in sociology from Harvard. He is a distinguished Professor of Sociology the University of California, San Diego and was a co-director of a Ford Foundation project to help revive the academic discipline of sociology in China.
      </p>
      Professor Madsen is the author, or co-author of twelve books on Chinese culture, American culture, and international relations. He has also written scholarly articles on how to compare cultures and how to facilitate dialogue among them. His best known works on American culture are those written with Robert Bellah, William Sullivan, Ann Swidler, and Steven Tipton: Habits of the Heart (Berkeley, University of California Press, 1995) and The Good Society (New York, Knopf, 1991). These books explore and criticize the culture of individualism and the institutions that sustain it. Habits of the Heart won the LA Times Book Award and was jury nominated for the Pulitzer Prize.
      <p>
      His books on China include Democracy's Dharma: Religious Renaissance and Political Develpment in Taiwan (Berkeley, University of California Press, 2007), Chen Village under Mao and Deng (co-authored with Anita Chan and Jonathan Unger) (Berkeley, UC Press, 1992), Morality and Power in a Chinese Village (UC Press, 1984) [winner of the C. Wright Mills Award], Unofficial China (co-edited with Perry Link and Paul Pickowicz) (Boulder, CO: Westview Press, 1989), China and the American Dream (UC Press, 1994), China's Catholics: Tragedy and Hope in an Emerging Civil Society (UC Press, 1998), and Popular China: Unofficial Culture in a Globalizing Society, co-edited with Perry Link and Paul Pickowicz (Boulder, CO: Rowman and Littlefield, 2002).
      </p>
      Books on social theory include: Meaning and Modernity, co-edited with William Sullivan, Ann Swidler, Steven Tipton (UC Press, 2002) and The Many and the One: Religious and Secular Perspectives on Ethical Pluralism in the Modern World (Princeton University Press, 2003).
      <p>
      <a href="http://sociology.ucsd.edu/faculty/bio/madsen.shtml">Source.</a>
      </p>
    </p>
  </div>
</div>