%li
  = link_to tconference, class: "away" do
    %div.away
      = tconference.nick
  %br/
  = tconference.name
  %br/
  = tconference.date
  %br/
  - if signed_in?
    - if current_user.admin?
      = link_to "edit", edit_tconference_path(tconference)
      | #{link_to "delete", tconference, method: :delete, data: { confirm: "You sure?" }}