- provide(:title, 'All Home Conferences')
%h1.subhead
  %span#main Upcoming Conferences

.narrow
  = will_paginate
  - if signed_in?
    / Admin viewing others'
    - if current_user.admin?
      %span.admin
        = link_to "Add new travel conference", new_tconference_path
  /
    <#%= collection_select_tag(:user, :role, User.all,
    \:id, :role, {}, {:name=>'user_filter'}) %>
  %div.col-cont
    %div.col
      %h2 Fall 2014
      %ul.users= render Tconference.fall
    %div.col
      %h2 Winter 2015
      %ul.users= render Tconference.winter
    %div.col
      %h2 Spring 2015
      %ul.users= render Tconference.spring
  = will_paginate