= render 'trav_conf_head'
/
  render season, year here
%h2#season
  = @tconference.season
  = @tconference.year
.conf_cont
  = render "shared/tconf_nav"

  .outer
    .innerBox
      %h2
        %span Information
      .infosBox
        %table.infos
          %tr
            %td.label Date:
            %td.info= @tconference.date
          %tr
            %td.label Location:
            %td.info= @tconference.location
        %br/
        %br/
        %br/
    .innerBox
      %h2
        %span Deadlines
      .infosBox
        %table.infos
          %tr
            %td.label.date December 12, 2014
            %td.info Early registration deadline to postmark payment.
          %tr
            %td.label.date February 6, 2015
            %td.info Regular registration deadline to postmark payment.
          %tr
            %td.label.date March 6, 2015
            %td.info Late registration deadline to postmark payment.
          %tr
            %td.label.date April 12, 2014
            %td.info Position papers due at 11:59 pm PST.