- provide(:title, "Travel Team")
/
  render season, year here

.column.half.left
  .module
    - if signed_in?
      - if current_user.admin?
        .admin-container
          = link_to 'javascript:;' do
            .clicker A
          %ul.admin-list
            %li
              = link_to edit_tconference_path(@tconference), class: "admin-link" do
                .admin-line
                  .icon
                    = image_tag 'admin-icons/edit.png'
                  .words
                    Edit conference
            %li
              = link_to @tconference, :method => :delete, :data => { :confirm => 'Are you sure?' }, class: "admin-link" do
                .admin-line
                  .icon
                    = image_tag 'admin-icons/delete.png'
                  .words
                    Destroy conference
    .title
      %span
        INFORMATION
    %table
      %tr
        %td.label Name:
        %td.info= @tconference.name
      %tr
        %td.label Date:
        %td.info= @tconference.date
      %tr
        %td.label Location:
        %td.info= @tconference.location
      %tr
        %td.label Host:
        %td.info= @tconference.host
