= form_for(@cconference) do |f|
  = render 'shared/error_messages', object: f.object
  %table.sign
    %tr
      %td= f.label :number
      %td= f.text_field :number
    %tr
      %td= f.label :season
      %td= f.text_field :season
    %tr
      %td= f.label :year
      %td= f.text_field :year
    %tr
      %td= f.label :date
      %td= f.text_field :date
    %tr
      %td= f.label :location
      %td= f.text_field :location
    %tr
      %td= f.label :delegation_fee
      %td= f.text_field :delegation_fee
    %tr
      %td= f.label :early, "Early Fee"
      %td= f.text_field :early
    %tr
      %td= f.label :regular, "Regular Fee"
      %td= f.text_field :regular
    %tr
      %td= f.label :late, "Late Fee"
      %td= f.text_field :late
    %tr
      %td= f.label :reg_url, "Reg Embed URL"
      %td= f.text_field :reg_url
  %br/
  %p= f.submit "Submit"