= parent_layout "application" do
  %h1#tritonmun
    %span#main
      TritonMUN
      %span#roman
        = @hconference.roman
  %h2#season
    = @hconference.season
    = @hconference.year
  .main_cont
    = render 'shared/home_nav'
    = yield


<!-- render roman, season, year here -->

