= parent_layout "application" do
  %h1#tritonmun
    %span#main
      = @tconference.name
  %h2#season
    = @tconference.season
    = @tconference.year
  .main_cont
    = render 'shared/tconf_nav'
    = yield


<!-- render roman, season, year here -->

